/* formataçao pricipal, do esqueleto */

.historico{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 550px;
    height: 400px;
    margin: auto;
    border: 0.5px solid black;
    margin-top: 100px;
    
    
}
.divtitulo{
    width: 100%;
    height: auto;
    text-align: justify;
    background-color: rgb(186, 183, 183);
    border-bottom: 0.5px black solid;
}
.title{
    margin: auto;
    padding: 15px;
    font-size: 100%;
}




/* area da caixa de mensagens */

.mensagens{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: rgb(235, 233, 233);


}
.divmain{
    min-height:auto;
    position: relative;
}

.divmensagem{

    border: 0.5px black solid;
    margin: auto;
    width: auto;
    margin-top: 7px;
    font-size: 18px;
    padding: 7px;
    border-radius: 10px;
    min-height: 20px;
    height: auto;
    overflow-wrap: break-word;
}

.editar{
    background-color: green;
    position: absolute;
    width: auto;
    right: 58px;
    border: 0;
    bottom: 0;
    border-radius: 10px;
 
}
.excluir{
    background-color: orange;
    position: absolute;
    width: auto;
    border: 0;
    bottom: 0;
    right: 7px;
    border-radius: 10px;

}



/* area de digitaçao da mensagem */

.txtarea{
    width: auto;
    background-color: gray;
    padding: 5px;
    border: 0.5px solid black;
    display: flex;
}
textarea{
    resize: none;
    width: auto;
    overflow-y: scroll;
}
.add{
    width: auto;
    height: 20px;
    background-color: aqua;
    border: 0;
    margin: 5px;
    border-radius: 5px;
}
